
    body {
        background-image: url("https://images.unsplash.com/photo-1516571137133-1be29e37143a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=615f2f112cda6c65a2511e9952556680&auto=format&fit=crop&w=2253&q=80");
        min-height: 100vh;
        background-color: #191818;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff;
    }
    .hero {
        background-color: rgba(3, 3, 3, 0.5);
        min-height: 100vh;
        min-width: 100vw;
        top: 0;
        bottom: 0;
        position: absolute;
    }
    h1 {
        margin-top: 13rem;
        margin-bottom: 0px;
    }
    .lead {
        font-size: 2rem;
    }

    ul {
        list-style: none;
        margin-top: 2rem;
        border-top: 2px solid #fff;
        
    }

    li {
        border-bottom: 1px solid #fff;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    input[type=checkbox] {
        float: left;
        height: 20px;
        width: 20px;
        border: 1px solid #fff;
        margin-top: 0.3rem;
        margin-right: 1rem;
            }
